@import url('./reset.css');

// MIXIN MEDIA-QUERIES
@mixin responsive($size) {
    @if $size == phone { @media (max-width: 599px) { @content; }
    } @else if $size == tablet { @media (max-width: 900px) { @content; }
    } @else if $size == desktop { @media (min-width: 1200px) { @content; }
    };
};

:root{
    --font-size: 15px;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    font-family: var(--font-family);
    height: 100%;
    min-height: 100%;
    background-color: var(--background-color);
    line-height: 1.3;
    letter-spacing: -.04rem;

}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;

    &,
    &:visited {
        color: var(--nav-txt-color);
    }

    &:hover {
        text-decoration: underline;
    }

}

// USEFUL CLASSES


.flex {
    display: flex
}

.grid {
    display: grid;
}

#wrapper {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    background-color: var(--bgMain);
    min-height: 100%;
}


.brand img {
    display: block;
    max-width: 177px;
    max-height: 35px;
    width: auto;
    height: auto;
}


// HEADER & FOOTER


header {
    grid-column: span 2;
    column-span: all;
    background: var(--bgHeader);
    justify-content: flex-end;
}

.brand {
    height: fit-content;
    width: 12.5rem;
    align-items: center;
    margin: var(--headerMargin);
    margin-right: auto;
}

header>div+div {
    height: fit-content;
    width: auto;
    align-items: center;
    margin: var(--headerMargin);
    margin: auto .5rem;
}

.responsiveNav {
    color: white;
    width: max-content;
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;

    @include responsive(tablet) {
        display: inline-block;

        &>:first-child {
            visibility: hidden;
        }
    }

    @include responsive(phone) {
        &>:first-child {
            visibility: visible;
        }
    }


    &>label {
        display: inline-block;
        line-height: 1.5rem;
        height: 1.5rem;
        width: 1.5rem;
        text-align: center;
    }
}

footer {
    //  background-color: white;
    width: 100%;
    grid-column: span 2;
    justify-content: center;
    text-align: center;
    font-size: .7rem;
    padding: 5px;
}

main {
    width: inherit;

    &>section:not(#home-content-header) {
        gap: .5rem;
    }
}

// SEARCH FORM 

form#search {
    &.show {
        top: .5rem;
        z-index: 10;
    }

    @include responsive(phone) {
        position: absolute;
        top: -2.5rem;
        left: 0;
        width: 100%;
        transition: top .15s ease-out;

    }

    >div {
        position: relative;
        margin-left: 10px;

        @include responsive(phone) {
            margin-right: 10px;
        }

        >input {
            width: 20vw;
            transition: width .5s .25s ease, background-color .5s .25s ease;
            border: 1px solid gray;
            padding: .5rem 1.5rem .5rem .75rem;
            background-color: rgba(0, 0, 0, 0);
            color: white;
            border-radius: .9rem;

            @include responsive(phone) {
                background-color: var(--bgSearchBar);
                width: 100%;

                padding: {
                    top: .7rem;
                    bottom: .7rem;
                }

            }

            &:placeholder-shown {
                font-style: italic;
            }

            &:focus {
                width: 35vw;
                outline: none;
                background-color: var(--bgSearchBar);

                @include responsive(phone) {
                    width: 100%;
                }

                &+label {
                    opacity: 0;
                }

                &+label+span {
                    opacity: .7;
                }

            }
        }

        >label {
            position: absolute;
            top: .4rem;
            left: 10px;
            display: block;
            color: gray;
            opacity: .5;
            font-style: italic;
            font-size: 1rem;
            transition: opacity .5s .25s ease;
            cursor: text;
        }

        >span {
            position: absolute;
            top: .4rem;
            right: 5px;
            display: block;
            color: gray;
            opacity: 0;
            transition: opacity .5s .25s ease;
        }
    }
}