@import url('https://fonts.googleapis.com/css?family=Bangers');

/* reset */

html, body, .controls {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* General */

html, body {
    background-color: black;
    color: lightgray;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    height: 100%;
}

.flex {
    display: flex;
    height: 100%;
}

div#container {
    height: 100%;
    min-height: 100%;
    text-align: center;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

/* Effects */

.displayNone {
    display: none !important;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .7s ease-in;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: all 600ms ease-in-out;
}

/* opening screen */

div.opening {
    font-family: Bangers, cursive;
    font-size: 40px;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    height: 100%;
    background: url('./imgs/backgroundFight.jpg') center center no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

h1 {
    font-family: Bangers, cursive;
    text-align: center;
    font-size: 80px;
    color: rgb(255, 255, 255);
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
}

.opening h1 {
    margin: 7% 0;
}

button.startPlay {
    box-shadow: 0px 0px 10px -1px #2c3233;
    background: linear-gradient(to bottom, #f09800 5%, #c7280c 100%);
    background-color: #f09800;
    border-radius: 3px;
    border: 2px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Bangers, cursive;
    font-size: 30px;
    font-weight: bold;
    padding: 30px 38px;
    text-decoration: none;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    margin: 5%;
}

button.startPlay:hover {
    background: linear-gradient(to bottom, #c7280c 5%, #f09800 100%);
    background-color: #c7280c;
}

button.startPlay:active {
    position: relative;
    top: 1px;
}

/* game screen */

.bgGame {
    background: url('./imgs/sky.jpg') center 50px repeat-x,
        url('./imgs/floor.jpg') center bottom repeat-x;
    background-color: #010efd;
}

/* @keyframes fadebackground {
    from {opacity: 0;}
    to {opacity: 1;}
  } */

#theGame {
    position: relative;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    height: 100%;
    width: 100%;
}


/* SCORE */

#score {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#score #machinePoints {
    flex-direction: row;
    width: inherit;
    gap: 10px;
}

#score #playerPoints {
    flex-direction: row-reverse;
    width: inherit;
    gap: 10px;
}
.playerPoint,
.machinePoint {
    background-color: #f09800;
    width: 5px;
    height: 100%;
    border: 2px solid black;
}

.winnerPoint {
    animation: winnerPoint .5s linear;
    background-color: red;
    width: 5px;
    height: 100%;
    border: 2px solid black;
}

div.fixbottom {
    position: fixed;
    bottom: 32px;
    width: 800px;
}

@keyframes winnerPoint {
    from {
        background-color: #f09800
    }

    to {
        background-color: red;
    }
}

#theGame div.flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0;
}

#theGame h1 {
    margin: 120px 0 10px 0;
    font-family: Bangers, cursive;
}

#playerChoices {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.choiceBtn {
    width: 120px;
    height: 120px;
    background: url(./imgs/akCloud.png) center center no-repeat;
    background-size: 90%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#machineChoice {
    width: 150px;
    height: 150px;
    background: url(./imgs/akCloud.png) center center no-repeat;
    margin-bottom: 50px;
    background-size: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#machineChoice h1 {
    margin: 0 !important;
}

p {
    font-size: 50px;
    margin: 0;
}

.monospace {
    font-family: monospace;
    font-size: small;
}

div.controls {
    bottom: 50px;
}

.controls h3 {
    margin-top: 50px;
    margin-bottom: 10px;
}

.keybind ul {
    padding-left: 50px;
}

button {
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color: #768d87;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 13px;
    padding: 11px 23px;
    text-decoration: none;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

button:hover {
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color: #6c7c7c;
}

button:active {
    position: relative;
    top: 1px;
}

.disabled {
    pointer-events: none;
}

li.controls {
    list-style: none;
    text-align: left;
}

@media screen and (max-width: 800px) {
    div.fixbottom {
        width: 580px;
    }
    .choiceBtn {
        margin-bottom: 10px;
    }
    #playerChoices {
        flex-direction: column;
    }
    #theGame h1 {
        margin-top: 20px;
    }
}

@media screen and (max-width: 450px) {
    div.fixbottom {
        width: 310px;
    }
    .choiceBtn {
        margin-bottom: 10px;
    }
    #playerChoices {
        flex-direction: column;
    }
    #theGame h1 {
        margin-top: 20px;
    }
}